<br>
<p>
<%= @greeting %>,<br><br>
An appointment with <%= "#{@user2.first_name} #{@user2.last_name}"%> has just been confirmed. For further information regarding the Scheduled Date, Time and Payment Information please <%= link_to "visit your appointments page", appointments_url%>.
<br>
<br>
Regards,<br>
<a href="medimailhub.us">MedimailHub</a>.
<p>
