<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Sign up to Medimail!, <%= @invitee %></h1>
    <p>
      <%= @user %> has invited you to join Medimail<br>
    </p>
    <p>
      To sign up to the site, just follow this link: <%= @url %>.
    </p>
    <p>Have a great day!</p>
  </body>
</html>