<%= image_tag('logo_blue.png') %>
<br>
<br>
<p>
<%= @greeting %>,<br><br>
Dr <%= @sender %> has scheduled an appointment with you. To confirm please <%= link_to "visit your appointments page", appointments_url%>.
<br>
<br>
Regards,<br>
<a href="medimailhub.us">MedimailHub</a>.
<p>
