<% @receipts.each do |receipt| %>
    <% message = receipt.message %>
    <div class="media panel-body" <% if (User.find(conversation.originator.id).role=="doctor") %> 
                    style= "background:  #99ccff;" 
                  <% else %>
                    style= "background: #99ff66;" 
                  <%end %>>

      <div class="media-body">
        <h4 class="media-heading">
          <%= message.sender.first_name+" "+message.sender.last_name %> <br>
          <small><b>Subject: </b><%= message.subject %></small><br>
          <small><b>Date: </b><%=  message.created_at.strftime("%A, %b %d, %Y at %I:%M%p") %></small>
        </h4>
        <%= message.body %>
      </div>
    </div>
<% end %>