
<div class="container">
	<div class="dummy2"></div>
  <div class="row">
  <!--
      <div class="col-md-3 col-sm-4 col-xs-12">
        <div class="dummy"></div>
        <a href="#x" class="thumbnail purple animated fadeIn">
          <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span><p>Patient Messages</p>
        </a>
      </div>-->
      <div class="col-md-3 col-sm-4 col-xs-12">
        <div class="dummy"></div>
        <a href="/mailbox/inbox" class="thumbnail purple animated fadeIn">
          <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span><p>Messages</p>
        </a>
      </div>
      <div class="col-md-3 col-sm-4 col-xs-12">
        <div class="dummy"></div>
        <a href="/assets" class="thumbnail purple animated fadeIn">
          <span class="glyphicon glyphicon-folder-open" aria-hidden="true"></span><p>Documents</p>
        </a>
	   </div>
       <div class="col-md-3 col-sm-4 col-xs-12">
        <div class="dummy"></div>
        <a href="/contacts" class="thumbnail purple animated fadeIn">
          <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span><p>Contacts</p>
        </a>
	   </div>
       <div class="col-md-3 col-sm-4 col-xs-12">
        <div class="dummy"></div>
        <a href="/webcast" class="thumbnail purple animated fadeIn">
          <span class="glyphicon glyphicon-facetime-video" aria-hidden="true"></span><p>Video Call</p>
        </a>
      </div>
      <div class="col-md-3 col-sm-4 col-xs-12">
        <div class="dummy"></div>
        <a href="/users/edit" class="thumbnail purple animated fadeIn">
          <span class="glyphicon glyphicon-user" aria-hidden="true"></span><p>Profile</p>
        </a>
      </div>
      <div class="col-md-3 col-sm-4 col-xs-12">
        <div class="dummy"></div>
        <a href="/appointments" class="thumbnail purple animated fadeIn">
          <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span><p>Appointments</p>
        </a>
	   </div>
  	</div>
</div>
