
<div class="row">

<!-- List all users to be added	 -->
<div class="col-sm-6 col-xs-12 panel">
	<%= render '/contacts/all_contacts' %>
</div>

<!-- List existing contacts -->
<div class="col-sm-6 col-xs-12 panel">	
	<%= render '/contacts/all_users' %>
</div>

</div>	

<!-- Responsive Datatable -->
<script>
$(document).ready(function() {
	$('.dtable').dataTable({
  responsive: true
});
});
</script>