/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require chosen
 *= require bootstrap-datepicker
 *= require dataTables/jquery.dataTables
 *= require dataTables/extras/dataTables.responsive
 */

 /*"bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"*/

@import "bootstrap-sprockets";
@import "bootstrap";

.dummy {
    margin-top: 100%;
}

.dummy2 {
    margin-top: 0px;
}
.thumbnail {
    position: absolute;
    top: 15px;
    bottom: 0;
    left: 15px;
    right: 0;
    text-align:center;
    /*padding-top:calc(50% - 30px);*/
    padding-top: 25%;
    margin-right: 5%;
    background-color: #1a82d4;
    color: white;
    font-size: x-large;

    /*font-size: 250%;*/
}

a.thumbnail:hover, a.thumbnail:focus, a.thumbnail.active {
    color: white;
    text-decoration: inherit;
    background-color: #6fadf3;
}


.navbar {
	background-color: #1a82d4; 
}

.navbar-brand {
  font-size: 25px;
  line-height: 35px;
  height: 70px;
  color: white !important;
  font-weight: bolder;
}

.button-signup {
    border-style: solid;
    border-width: thin;
    background-color: #6fadf3;
    border-color: #6fadf3;
    color: white;
    width: 40%;
    height: 35px;
    border-radius: 25px;
    font-size: large;
}

.panel-home {
  background-color: #1a82d4;
  color: white;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    background-color: #1a82d4;
    color: white;
    font-weight: bold;
}

.navbar-default .navbar-nav > li > a {
    color: white;
    font-weight: bold;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: white;
    font-weight: bold;
}

.dropdown-menu-custom {
      background-color: #6fadf3;
}

.class-white {
    color: white !important;
    font-weight: bold !important; 
}

.class-white {
    color: white !important;
    font-weight: bold !important; 
}

.navbar-toggle {
     background-color: white; 
     margin-top: 5%;
}

.class-hover:hover {
  background-color: #6fadf3 !important;
  color: white !important;
  font-weight: bold !important; 

};

/*.button-update {
  width: 10%;
}*/

.btn-primary {
      background-color: #6fadf3;
    border-color: #6fadf3;
}

/*flash*/
.alert-error {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: left;
 }

.alert-alert {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: left;
 }

.alert-success {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: left;
 }

.alert-notice {
    background-color: #6fadf3;
    border-color: #1a82d4;
    color: white;
    text-align: left;
 }

 .custom-white {
  color: white;
 }


 /*Autofill yellow*/
 input:-webkit-autofill {
  -webkit-text-fill-color: white;
  -webkit-box-shadow: 0 0 0px 1000px #6fadf3 inset;
}
input:-moz-autofill {
  -moz-text-fill-color: white;
  -moz-box-shadow: 0 0 0px 1000px #6fadf3 inset;
}
input:-o-autofill {
  -o-text-fill-color: white;
  -o-box-shadow: 0 0 0px 1000px #6fadf3 inset;
}
input:-khtml-autofill {
  -khtml-text-fill-color: white;
  -khtml-box-shadow: 0 0 0px 1000px #6fadf3 inset;
}

 input:focus:-webkit-autofill {
  -webkit-text-fill-color: white;
  -webkit-box-shadow: 0 0 0px 1000px #6fadf3 inset;
}
input:focus:-moz-autofill {
  -moz-text-fill-color: white;
  -moz-box-shadow: 0 0 0px 1000px #6fadf3 inset;
}
input:focus:-o-autofill {
  -o-text-fill-color: white;
  -o-box-shadow: 0 0 0px 1000px #6fadf3 inset;
}
input:focus:-khtml-autofill {
  -khtml-text-fill-color: white;
  -khtml-box-shadow: 0 0 0px 1000px #6fadf3 inset;
}

/*tr.odd {
  background-color: white !important;
}

td.sorting_1 {
    background-color: white !important;
}*/

@media screen and (max-width: 640px) {
  .dataTables_wrapper .dataTables_length, .dataTables_wrapper .dataTables_filter {
  text-align: left !important;
  padding-left: 5%;
}}


select {
  background-color: white !important;
} 

.dataTables_wrapper .dataTables_filter input {
    margin-left: 0.5em;
    border-style: solid;
    border-width: thin;
    border-color: lightgrey;
}