
<%= form_for(@payment, remote: true, :html => { :role => "form" }, url: "/appointments/make_payment/#{params[:id]}")do |f| %>

  <div class="field">
    
      <%= f.text_field :card_number, class: 'form-control', placeholder: 'Card number' %>
  </div>
<% end %>