// Add the dialog title
$('#dialog h3').html("<i class='fa fa-credit-card-alt custom-blue'></i> <span class='custom-blue'>Payment Portal</span>");
 
// Render the edit form
$('.modal-body').html('<%= j render("form") %>');
 
// Show the dynamic dialog
$('#dialog').modal("show");
 
// Set focus to the first element
$('#dialog').on('shown.bs.modal', function () {
	  $('.first_input').focus()
  })

$('#datepickerpay').datetimepicker({
	format: 'MM-YYYY'
});



